{% if sessions is defined %}
<form action='/' method="POST" enctype="multipart/form-data" name="data-request-form">
    <table>
        {% for row in range(-1, sessions|length) %}
        {% if (row < 0)  %}
        <tr>
            <th>No.</th>
            <th>Session Name</th>
            {% if headers is defined %}
            {% for header in headers %}
            <th>{{ header["description"] }}</th>
            {% endfor %}
            {% endif %}
        </tr>
        {% else %}
        {% set session = sessions[row] %}
        <tr>
            <td style="vertical-align: top;">
                {{ row + 1 }}. [{{ session["index"] }}]
            </td>
            <td> 
                <label>
                    {{ session["name"] }}
                </label>
                {% if session["descriptions"] is defined %}
                    {% for desc in session["descriptions"] %}
                    <br>
                    - <label>{{ desc }}</label>
                    {% endfor %}
                {% endif %}
            </td>
            <!-- {% if inputs is defined %} -->
            <!-- {% for input in inputs %} -->
            <!-- <td style="vertical-align: top;">
                <input name="{{ input }}-{{ indexes[i] }}" value="{{ defaults[i][input] }}">
            </td> -->
            <!-- {% endfor %} -->
            <!-- {% endif %} --> 
            {% if session["inputs"] is defined %}
            {% for input in session["inputs"] %}
            <td style="vertical-align: top;">
                <input name="{{ input["id"] }}" value="{{ input["default"] }}">
            </td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <button type="submit" id="submit-data-request-form">Submit</button>
</form>
{% endif %}