* {
    font-family: Verdana;
    font-size: 14px;
}

table, tr, td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.select-and-upload-file {
    display: table-row;
}

div.custom-file {
    padding-right: 10px;
    display: table-cell;
}

input.custom-file-input {
    display: none;
}

label.custom-file-input, button.custom-file-input {
    border: 0px;
    padding: 1px;
}

.notification-error {
    color: red;
}

.notification-warning {
    color: orange;
}

.notification-success {
    color: green;
}