<!-- <div class='data-request'>
    <label class='data-request-input'>{{ session_name }} </label>
</div> -->

<tr id="row-{{ row_number }}">
    <td style="vertical-align: top;">
        {{ row_number }}.
    </td>
    <td>
        <label>{{ session_name }}</label>
        <br>
        <table>
            <tr>
                <td>
                    <i>- {{ metadata }}</i>
                </td>
            </tr>
            <tr>
                <td>
                    <i>- {{ description }}</i>
                </td>
            </tr>
        </table>
    </td>
    <td>
        <!-- Type -->
        <input type="text" value="{{ type }}" name="type-{{ row_number }}">
    </td>
    <td>
        <!-- Test location -->
        <input type="text"value="{{ location }}" name="location-{{ row_number }}"> 
    </td>
    <td>
        <!-- Level -->
        <input type="text"value="{{ level }}" name="level-{{ row_number }}"> 
    </td>
    <td>
        <!-- Patient code -->
        <input type="text"value="{{ code }}" name="code-{{ row_number }}"> 
    </td>
</tr>