<script>
    var current = null

    select_frame = function(element) {
        if (current != null) {
            current.style.display = "none";
        }

        var dataframe = document.getElementById("df-" + element.id);
        dataframe.style.display = "inline-block";
        
        current = dataframe;
    }
</script>

<div style="text-align: center;"> 
    <div style="display: inline-block;">
        {% for s in sessions %}
        {% if s.has_dataframe == True %}
        <a>
            <button id="{{ s.index }}" onclick="javascript: select_frame(this)">
                {{ s.index }}
            </button>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div style="text-align: center;">    
    {% set vars = [] %}
    
    {% for  s in sessions %}
    {% if s.has_dataframe == True %}

    {% if vars|length == 0 %}
    {% set disp = "inline-block" %}
    {% else %}
    {% set disp = "none" %}
    {% endif %}
    
    {% if vars.append(1) %}
    {% endif %}

    <div id="df-{{ s.index }}" style="display: {{ disp }}">
        <div style="padding-bottom: 10px; text-align: left;">
            <b>Key: </b>{{ s.session_key }}
            <br>
            <b>Name: </b>{{ s.session_name }}
            <br>
            <b>Metadata: </b>{{ s.session_metadata }}
        </div>
        
        <table>
            <tr>
                {% for head in s.dataframe.columns %}
                <th>
                    {{ head }}
                </th>
                {% endfor %}
            </tr>
            {% for ix, row in s.dataframe.iterrows() %}
            <tr>
                {% for col in s.dataframe.columns %}
                <td>
                    {{ row[col] }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endfor %}
</div>