{% if sessions is defined  %}
<form action="/" method="POST">
    <!-- Table -->
    <table>
        {% for row in range(-1, sessions|length) %}
        {% set row_count = loop.index0 %}

        <!-- If -1, then it's the header,
        else, it's the session information -->
        {% if (row < 0) %}
        <tr>
            <th>No.</th>
            <th>Session Key</th>

            <!-- Insert each header as a column -->
            {% if headers is defined %}
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
            {% endif %}
        </tr>

        <!-- Individual sessions as rows -->
        {% else %}
        
        {% set s = sessions[row] %}

        <!-- Only sessions that are still invalid -->
        {% if s.valid_inputs != True %}
        <tr>
            <td style="vertical-align: top;">
                <!-- index0 starts the count from 1, due to the header being -1 in the loop -->
                {{ s.index }}.
            </td>
            <td>
                <!-- Session key -->
                <label>{{ s.session_key }}</label>
                
                <!--  Sensor modes -->
                {% for mode in s.mmr_files.keys() %}
                <br>
                - <label>{{ mode }}</label>
                {% endfor %}
            </td>

            <!-- Inputs -->
            {% for input in s.inputs %}
            <td style="vertical-align: top;">
                <!-- In the below example, we use index0 - 1 to keep the 'name' attribute 0-indexed, i.e. the first row will have index 0 -->
                <input name="{{ input.name }}-{{ row_count - 1 }}" value="{{ input.value }}">

                <!-- Status of the input -->
                {% if input.status is defined %}
                {% if input.status == False %}
                <br>
                <label style="color: red; font-size: 12px;">
                    Please try again. 
                    <!-- Potential 'did you mean X' suggestion -->
                </label>
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </table>

    <div class="custom-btn">
        <button type="submit" id="submit-parameter-request-form">
            Submit
        </button>
    </div>
</form>
{% endif %}